@tailwind base;

@tailwind components;

@tailwind utilities;

button {
  background: white;
  border: none;
  margin-top: 2%;
  width: 20%;
  border-radius: 40px;
  height: 5vh;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
 box-shadow: 2px 2px 10px #38FFBE;

}


h1 {
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 10px white;
  margin: none;
  padding: none;
}

.page-title {
  text-align: center;
  font-size: 40px;
}


.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-self: center;
  
}


ul {
 list-style: none;
 display: flex;
 flex-direction: row;
 padding: 5%;
 display: flex;
 align-self: center;
}

li {
  display: flex;
  align-self: center;
  background: white;
  margin-top: 0;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2%;
  border-radius: 40px;
  box-shadow: 2px 2px 10px #eee;
  font-size: 18px;
  width: 40%;
}

.python {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  vertical-align: middle;
  justify-content: center;
}

.homepage-nav {
  display: flex;
  justify-content: center;
}

.homepage-nav a {
  margin: 2em;
}